.flex {
	display: flex;
}

.right {
    display: block;
    margin-left: auto;
}
.inline-right {
    display: inline-block;
    margin-left: auto;
}
.flex-only-pc {
	@media screen and (min-width: 769px) {
		display: flex;
		align-items: center;
	}
	.right {
		display: initial;
		margin-left: initial;
		@media screen and (min-width: 769px) {
			display: block;
    		margin-left: auto;
		}
	}
}
