@import "./theme.scss";

.theme-button {
	&.theme-button-square,
	&.theme-button-circular {
		@include ThemeButton;
	}
}
.theme-button-square {
	border-radius: $radius-square; //6px
}

.theme-button-circular {
	border-radius: $radius-circular; //10rem
}

.theme-button-dotted {
	border: 1px dotted #FFF;
	border-radius: $radius-square; //6px
}

.theme-button-blur {
	background-color: #5B5070;
	border-radius: $radius-square; //6px
}

.theme-button-disabled {
	cursor: not-allowed;
	background-color: #5B5070;
	border-radius: $radius-square; //6px
}
