$linear-r:#9D4AFF;
$linear-l:#48B0FE;
$grey: #EAEAEA;
$font-color:#FFFFFF;
$back-color:#150633;
$body-sm: 768px;
$body-md: 992px;
$body-lg: 1200px;
$body-xl: 1920px;
$radius-square: 6px;
$radius-square-big: 20px;
$radius-circular: 10rem;
$theme-linear-gradient: linear-gradient(90deg, $linear-l 0%, $linear-r 100%);
$theme-box-shadow-inset: inset 0 0 2px rgba($color: $font-color, $alpha: 0.5);
$failed: #FC3C3C;
$success: #3CFC44;
$wait: #A19BAD;
$over: #63D8FD;